.mapa-svg {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #f0f4f8;
  border-radius: 8px;
}

svg path {
  stroke: none;
  shape-rendering: crispEdges;
}

.mapa-svg {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}