.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;

}

.App h1 {
  background-color: #003366;
  color: white;
  padding: 1rem;
  margin: 0;
  font-size: 1.8rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.barra-plantas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #e8edf2;
  border-bottom: 1px solid #cbd3dc;
}

.barra-plantas button {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: bold;
  color: #003366;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.barra-plantas button:hover {
  background-color: #d9e6f2;
}

.barra-plantas .boton-activo {
  background-color: #0066cc;
  color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  min-height: calc(100vh - 140px); /* permite crecer si hay más contenido */
  padding: 1rem;
  gap: 1rem;
}
.header-mapa {
  display: flex;
  justify-content: flex-end; /* botón a la derecha */
  padding: 0.5rem 1rem;
}

.logout-btn {
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #0059b3;
  transform: translateY(-1px);
}
